In [1]:
#1.>
Name = 'Asutosh Pradhan'
List = [1,2,'ap','bunty',2.7,4+8j]
pi = 3.14
Tuple = (1,2,3.4)
print(type(Name))
print(type(List))
print(type(pi))
print(type(Tuple))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

In [3]:
#2.>
var1=''
var2='[DS,ML,Python]'
var3=['DS','ML','Python']
var4=1
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

In [5]:
#3.>
#(i) '/'is a arithmatical opreator whish is used to divide two numbers and the resut will be in floating type
2/3

0.6666666666666666

In [6]:
#(ii) '%' is an arithmatical opreator which is used to find remainder after division of two numbers
3%3

0

In [7]:
#(iii) '//' is an arithmatical opreator which is used to find quotint of two numbers in intiger form
2//3

0

In [8]:
#(iv) '**' is an arithmatical opreator which is used to find power of a nuumber.
2**8

256

In [10]:
#4.>
l=['asu','bunty',1,2,2.4,3+4j,3,4,5,'ap']
for i in l:
    print(i,type(l))

asu <class 'list'>
bunty <class 'list'>
1 <class 'list'>
2 <class 'list'>
2.4 <class 'list'>
(3+4j) <class 'list'>
3 <class 'list'>
4 <class 'list'>
5 <class 'list'>
ap <class 'list'>

In [13]:
#5.>
A=float(input('A:'))
B=float(input('B:'))
if A%B==0:
    print('Number of times a is divisible by B:',int(A/B))
else:
    print('Not purely divisible')

A: 8
B: 2

Number of times a is divisible by B: 4

In [14]:
#6.>
l=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in l:
    if i%3==0:
        print(i,'is divisible by 3')
    else :
        print(i,'is not divisible by 3')

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [16]:
#7.> The data type in which change of data in any index is possible then it is called Mutable datatypes.
List = [1,2,3,4]
List[1]=28
List

[1, 28, 3, 4]

In [17]:
# but here string is immutable as no change can be made